@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Suporte:</strong> <a href="mailto:alexdomingos13@icloud.com">alexdomingos13@icloud.com</a><br />
</address>
